# Игнорируем всё кроме указанных ниже типов файлов

*
!*.py
!*.csv
!*.jsonl
!.gitignore

# Разрешаем лог-файл train.log
!train.log

# Игнорируем папки и файлы, содержащие слово 'log', кроме train.log
*/log*
*log*

# Дополнительно разрешаем любые вложенные файлы CSV и JSONL
**/*.csv
**/*.jsonl
